<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <title>{% block title %}{{ 'title'|trans }}{% endblock %}</title>
    <script src="https://kit.fontawesome.com/d6a6a85908.js" crossorigin="anonymous"></script>

    {% block stylesheets %}
        {{ encore_entry_link_tags('app') }}
    {% endblock %}
    {% block javascripts %}
        {{ encore_entry_script_tags('app') }}
    {% endblock %}
</head>
<body class="text-white" style="background-color: rgb(30 41 59);">
<div>
    <div class="flex flex-col justify-center px-6 py-12 lg:px-8 mt-36">
        <div
            class="rounded bg-white sm:mx-auto sm:w-full sm:max-w-sm p-4 bg-gradient-to-r from-indigo-500 via-purple-500 to-pink-500">
            <div class="sm:mx-auto sm:w-full sm:max-w-sm">
                <img src="{{ asset('build/images/OrbitLogo_500.png') }}" class="mx-auto h-20 w-auto" alt="Orbit Logo">
                <h2 class="mt-5 text-center text-2xl font-bold leading-9 tracking-tight text-gray-900">{{ 'security.sign_up.message'|trans }}</h2>
            </div>

            <div class="mt-10 sm:mx-auto sm:w-full sm:max-w-sm">
                {{ form_start(form) }}
                <div class="space-y-6">
                    <div>
                        <label for="username" class="block text-sm font-medium leading-6 text-gray-900">
                            {{ 'security.username'|trans }}
                        </label>
                        <div class="mt-2">
                            {{ form_row(form.username, {
                                attr: {
                                    'class': 'block w-full rounded-md border-0 py-1.5 px-1 text-gray-900 shadow-sm ring-1 ring-inset ring-gray-300 focus:ring-2 focus:ring-inset focus:ring-indigo-600 sm:text-sm sm:leading-6',
                                    'id': 'username',
                                }
                            }) }}
                        </div>
                    </div>
                    <div>
                        <div class="flex items-center justify-between">
                            <label for="password"
                                   class="block text-sm font-medium leading-6 text-gray-900">
                                {{ 'security.password'|trans }}
                            </label>
                        </div>
                        <div class="mt-2">
                            {{ form_row(form.password, {
                                attr: {
                                    'class': 'block w-full rounded-md border-0 py-1.5 px-1 text-gray-900 shadow-sm ring-1 ring-inset ring-gray-300 focus:ring-2 focus:ring-inset focus:ring-indigo-600 sm:text-sm sm:leading-6',
                                    'id': 'password',
                                    'placeholder': '*********************'
                                }
                            }) }}
                        </div>
                    </div>
                    <div>
                        <div class="flex items-center justify-between">
                            <label for="isAdmin"
                                   class="block text-sm font-medium leading-6 text-gray-900">
                                {{ 'security.admin'|trans }}
                            </label>
                        </div>
                        <div class="mt-2">
                            {{ form_row(form.isAdmin, {
                                attr: {
                                    'id': 'isAdmin',
                                }
                            }) }}
                        </div>
                    </div>
                    <div>
                        <button type="submit"
                                class="flex w-full justify-center rounded-md bg-indigo-600 px-3 py-1.5 text-sm font-semibold leading-6 text-white shadow-sm hover:bg-indigo-500 focus-visible:outline focus-visible:outline-2 focus-visible:outline-offset-2 focus-visible:outline-indigo-600">
                            {{ 'security.sign_up'|trans }}
                        </button>
                    </div>
                </div>
                {{ form_end(form) }}
            </div>
        </div>
    </div>
</div>
</body>
</html>
