{% extends 'base.html.twig' %}

{% block body %}
    <div class="max-w-7xl mt-5 justify-between mx-auto flex">
        {% include 'transcode/nav.html.twig' %}
        <div class="w-3/4 p-4 m-2 border-l">
            <div>
                <div class="flex">
                    <div class="w-2/3">
                        <div class="px-4 sm:px-0">
                            <h3 class="text-base font-semibold leading-7 text-gray-500">
                                {{ 'live.stream'|trans }}
                            </h3>
                            <p class="mt-1 max-w-2xl text-sm leading-6 text-gray-500">
                                {{ 'live.stream.description'|trans }}
                            </p>
                        </div>
                    </div>
                    <div class="w-1/3 flex justify-end">
                        <div>
                            <button title="{{ 'common.new_tab'|trans }}"
                                    onclick="window.location='{{ path('transcode_create') }}';"
                                    class="justify-center rounded-md bg-indigo-600 px-3 py-1.5 text-sm font-semibold leading-6 text-white shadow-sm hover:bg-red-600 focus-visible:outline focus-visible:outline-2 focus-visible:outline-offset-2 focus-visible:outline-indigo-600">
                                <i class="fas fa-trash"></i>
                            </button>
                        </div>
                    </div>
                </div>
                <div class="mt-6 border-t border-gray-100">
                    <div class="divide-y divide-gray-100">
                        <div class="px-4 py-6 sm:grid sm:grid-cols-3 sm:gap-4 sm:px-0">
                            <div class="text-sm font-medium leading-6 text-gray-500">
                                {{ 'live.stream.filename'|trans }}
                            </div>
                            <div
                                class="mt-1 text-sm leading-6 text-white sm:col-span-2 sm:mt-0">
                                {{ transcode.fileName }}
                            </div>
                        </div>
                        <div class="px-4 py-6 sm:grid sm:grid-cols-3 sm:gap-4 sm:px-0">
                            <div class="text-sm font-medium leading-6 text-gray-500">
                                {{ 'live.stream.transcoding_progress'|trans }}
                            </div>
                            <div class="mt-1 text-sm leading-6 text-white sm:col-span-2 sm:mt-0">
                                <div class="rounded-lg bg-green-400">
                                    <div
                                        class="bg-gradient-to-r from-indigo-500 via-purple-500 to-pink-500 rounded-lg text-center"
                                        style="width: {{ transcode.transcodingProgress }}%">
                                        {{ transcode.transcodingProgress }}%
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="px-4 py-6 sm:grid sm:grid-cols-3 sm:gap-4 sm:px-0">
                            <div class="text-sm font-medium leading-6 text-gray-500">
                                {{ 'live.stream.representations'|trans }}
                            </div>
                            <div class="mt-2 text-sm text-gray-500 sm:col-span-2 sm:mt-0">
                                <ul role="list" class="divide-y divide-gray-100 rounded-md border border-gray-200">
                                    {% for representation in transcode.representations %}
                                        {% set streamUrl = app.request.getSchemeAndHttpHost ~ '/live/' ~ transcode.randSubTargetPath ~ '/' ~ streamFilename ~ '_' ~ representation.resolutionHeight ~ '.m3u8' %}
                                        <li class="flex items-center justify-between py-2 pl-2 pr-3 text-sm leading-6">
                                            <div class="flex w-0 flex-1 items-center">
                                                <i class="fas fa-link h-5 w-5 flex-shrink-0 text-gray-400 pt-1"></i>
                                                <div class="ml-4 flex min-w-0 flex-1 gap-2">
                                                    <label class="w-full">
                                                        <input type="text" readonly onclick="select();"
                                                               value="{{ streamUrl }}"
                                                               class="bg-indigo-400 px-1 text-black rounded font-medium w-full">
                                                    </label>
                                                </div>
                                            </div>
                                            <div class="ml-4 flex-shrink-0">
                                                <button title="{{ 'common.new_tab'|trans }}"
                                                        onclick="window.open('{{ streamUrl }}');"
                                                        class="justify-center rounded-md bg-indigo-600 px-3 py-1.5 text-sm font-semibold leading-6 text-white shadow-sm hover:bg-indigo-500 focus-visible:outline focus-visible:outline-2 focus-visible:outline-offset-2 focus-visible:outline-indigo-600">
                                                    <i class="fas fa-arrow-up-right-from-square"></i>
                                                </button>
                                                <button title="{{ 'common.clipboard.copy'|trans }}"
                                                        data-url="{{ streamUrl }}" data-index="{{ loop.index }}"
                                                        class="relative copyUrl justify-center rounded-md bg-indigo-600 px-3 py-1.5 text-sm font-semibold leading-6 text-white shadow-sm hover:bg-indigo-500 focus-visible:outline focus-visible:outline-2 focus-visible:outline-offset-2 focus-visible:outline-indigo-600">
                                                    <span
                                                        class="tooltipText tooltipTextCopyUrl_{{ loop.index }} hidden absolute rounded bg-indigo-500">
                                                        {{ 'common.clipboard.copied'|trans }}
                                                    </span>
                                                    <i class="fas fa-clipboard"></i>
                                                </button>
                                            </div>
                                        </li>
                                    {% endfor %}
                                </ul>
                            </div>
                        </div>
                        <div class="px-4 py-6 sm:grid sm:grid-cols-3 sm:gap-4 sm:px-0">
                            <div class="text-sm font-medium leading-6 text-gray-500">
                                {{ 'live.stream.format_resolution'|trans }}
                            </div>
                            <div class="mt-2 text-sm text-gray-500 sm:col-span-2 sm:mt-0">
                                <span
                                    class="inline-flex items-center rounded-md bg-gray-50 px-2 py-1 text-xs font-medium text-gray-600 ring-1 ring-inset ring-gray-500/10">
                                    {{ transcode.transcodeFormat }}
                                </span>
                                {% set backgroundColors = ['bg-red-50', 'bg-yellow-50', 'bg-green-50', 'bg-blue-50', 'bg-indigo-50', 'bg-purple-50', 'bg-pink-50'] %}
                                {% set testColors = ['text-red-700', 'text-yellow-800', 'text-green-700', 'text-blue-700', 'text-indigo-700', 'text-purple-700', 'text-pink-700'] %}
                                {% set ringColors = ['ring-red-600', 'ring-yellow-800', 'ring-green-700', 'ring-blue-700', 'ring-indigo-700', 'ring-purple-700', 'ring-pink-700'] %}
                                {% for representation in transcode.representations %}
                                    <span
                                        class="inline-flex items-center rounded-md {{ backgroundColors[loop.index] }} px-2 py-1 text-xs font-medium {{ testColors[loop.index] }} ring-1 ring-inset {{ ringColors[loop.index] }}/10">{{ representation.resolutionHeight }}p</span>
                                {% endfor %}
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}

{% block javascripts %}
    {{ encore_entry_script_tags('app') }}
    {{ encore_entry_script_tags('transcoding') }}
{% endblock %}
