{% if systemSpecs is not null %}
    <div class="mt-3">
        <div class="font-semibold">{{ 'system.system_specification'|trans }}:</div>
        <div class="ml-5 mt-3">
            <div class="bg-indigo-400 rounded p-2 w-3/4">
                <div>{{ 'system.cpu.model'|trans }}: {{ systemSpecs.name }}</div>
                <div>{{ 'system.cpu.threads'|trans }}: {{ systemSpecs.threads }} <i class="fa-solid fa-microchip"></i></div>
                <div>{{ 'system.load_average'|trans }}: {{ systemSpecs.sysLoadAvg }}</div>
                <div class="mt-2">{{ 'system.ram'|trans }}:</div>
                <div>{{ 'total'|trans }}: {{ systemSpecs.totalRam }}</div>
                <div class="flex">
                    <div class="w-1/2">{{ 'used'|trans }}: {{ systemSpecs.usedRam }}</div>
                    <div class="w-1/2 text-right">{{ 'free'|trans }}: {{ systemSpecs.freeRam }}</div>
                </div>
                <div class="rounded-lg bg-green-400"
                     title="{{ 'free'|trans }}: {{ systemSpecs.freeRam }}">
                    <div class="bg-gradient-to-r from-indigo-500 via-purple-500 to-pink-500 rounded-lg text-center"
                         style="width: {{ systemSpecs.usedRamPercentage }}%">
                        {{ systemSpecs.usedRamPercentage }}%
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endif %}
